body,p,h1,h2,h3{
    margin: 0;
    padding: 0;
}

/*header*/

#title{
    color: #f50057;
}
.header_container{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    background-color: #2c3338;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 10px;
}
.header a{
    text-decoration: none;
    color: white;
}
.header img{
    width: 5vw;
    height: 8vh;
}
.logo_title{
    display: flex;
    align-items: center;
}
.logo_title a span{
    font-size: 30px;
}
.nav nav a{
    font-size: 20px;
    margin-right: 100px;
    text-decoration: none;
    padding-right: 20px;
    color: white;
}
.nav{
    display: flex;
}
.nav button{
    width: 6vw;
    height: 4vh;
    background-color: #f50057;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}
.nav nav a:nth-child(3){
    border-radius: 20%;
    background-color: orangered;
}

/*about*/


* {
    font-family: 'Roboto', sans-serif;
}

.about {
    text-align: center;
    color: #282628;
    
}
.aboutfull{
    margin-top: 100px;
    margin-bottom: 50px;
}
.header_content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #080409;
}
@media(max-width:715px){
    .header_content {
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .img_photo {
        width: 100%;
        text-align: center;
    }
    
}
.img_photo > img {
    width:22vw;
    height: 50vh;
    border-radius: 50px;
}
.texts {
    margin: 10px;
}
.texts > p {
    font-size: 40px;
    line-height: 2;
    color: rgba(0, 0, 0, 0.7);
}
.Two_items {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.itemOne, .itemTwo {
    width: 350px;
    background-image: linear-gradient(to bottom,#080409 ,#282628);
    color: #F0F6F4;
    border-radius: 10px;
    padding:30px;
    margin-top: 20px;
    border-bottom: 10px solid #95A4A8;
    font-size: 20px;
}
.itemOne > h2, .itemTwo > h2 {
    text-decoration: underline;
}
.textinomials {
    width: 60vw;
    margin: auto;
    margin-top: 30px;
    border: 2px solid black;
}
.svgcontent {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}
.svg >svg {
    width: 300px;
    height: auto;
    margin-right: 30px;
}
.content {
    width: 100%;
}
.content p{
    font-size: 20px;
    line-height: 1.7;
    font-family: cursive;
}

/*footer*/

footer{
    background-color: lightgray;
}
.footer_intro h1{
    font-size: 25px;
}
.footer_container{
    padding-top: 50px;
    width: 90%;
    margin: auto;
    display: flex;
    padding-bottom: 50px;
}
.footer_thick{
    background-color: black;
    width: 3.5vw;
    height: 12vh;
    clip-path: polygon(49% 0, 100% 0%, 52% 99%, 0% 100%);
}
.footer_links img{
    width: 3vw;
    height: 3vh;
    margin-top: 20px;
}
.footer_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}
.footer_copyright p{
    margin-top: 20px;
}
.footer_copyright h1{
    font-size: 25px;
}
.footer_contact address{
    margin-top: 20px;
}
.footer_contact h1{
    font-size: 25px;
}
.footer_links h1{
    font-size: 25px;
}
.footer_contact a{
    color: black;
}

.top_arrow img{
    width: 7vw;
    height: 7vh;
    position: fixed;
    bottom: 30px;
    right: 0;
}